<div class="main">
    <div class="chat">
        
        <div class="message-form">

                <div class="message-container">
                    <div class="message-body">
                        <ul>
                            <li><p>ユーザー名</p></li>
                            <span>投稿日時</span>
                        </ul>
                        <ul>
                            <li><p>本文</p></li>
                        </ul>  

                    </div>

                    <div class="editor-button">
                        <ul>
                            <li><p>edit</p></li>
                            <li><p>delete</p></li>
                        </ul>
                    </div>

                </div>

        </div>
    
    </div>
    
    <div class="chat-form">

    </div>
</div>