// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "./color";

.main {
    height: calc(100vh - 80px); // vhは「viewport height」の略で、viewportの高さ（ブラウザの高さ）に対する指定です。100vhで表示しているスマホやPCのウィンドウサイズの100%という意味になります 
    .chat {
        padding: 0 20px;
        height: calc(100vh - 160px);
        background-color: $back-color;
        .message-form {
            padding: 0 80px;
            height: calc(100vh - 160px);
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .message-container {
                display: flex;
                justify-content: space-between;
                padding: 0 10px;     
                height: 100px;
                background-color: white;
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                .message-body {
                    width: 70%;
                    ul {
                        li {
                            display: inline-flex;
                            p{
                                padding: .7em 2em;
                                font-weight: bold;
                                text-decoration: none;
                                width: 100%;
                            }
                        }
                    }
                }
                .editor-button {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    overflow-y: auto;
                    ul {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 90px;
                        li {
                            display: flex;
                            justify-content: center;
                            background-color: rgb(143, 219, 255);
                            border-radius: 5px;
                            margin-right: 2em;
                            width: 10em;
                            height: 40px;
                            p{
                                line-height: 40px;
                                font-weight: bold;
                                font-size: 14pt;
                                display: block;
                                color: rgb(24, 123, 153);
                            }
                        &:hover {
                            opacity: 0.7;
                        }
                        }
                    }
                }
            }
        }
    }
    .chat-form {
        height: 80px;
        padding: 10px;
        background-color: $sub-color;
        .form{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 70px;
            padding: 20px;
            background-color: $sub-color;
            input[type="text"]{
                width: 80%;
                height: 60px;
            }
            input[type="submit"]{
                width: 100px;
                height: 50px;
                border-radius : 5%;          /* 角丸       */
                font-weight: bold;
                font-size     : 12pt;        /* 文字サイズ */
                text-align    : center;      /* 文字位置   */
                background    : #000066;     /* 背景色     */
                color         : #ffffff;     /* 文字色     */
                &:hover {
                    opacity: 0.7;
                }    
            }
        }
    }
}